@use "../abstracts" as *

#component
	width: 325px
	height: 540px
	max-width: 86%
	background: $clr-very-dark-blue-card-bg
	border-radius: 15px
	font-size: $fs-p
	color: $clr-soft-blue
	font-family: $ff-outfit
	font-weight: $fw-light
	.component-content
		padding: 25px
	.nft-img
		border-radius: 10px
		overflow: hidden
	h1
		font-size: 1.5em
		color: $clr-white
		padding: 25px 0 15px
		font-weight: $fw-semibold
	.description
		line-height: 1.5
	.price
		color: $clr-cyan
		font-weight: $fw-semibold